@inherits LayoutComponentBase

<PageTitle>SplitWiseWebApp</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
      @*
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/Register">Register</a>
        <a class="nav-link" href="/Login">Login</a>
        </div>
        </div>
        </div>
        </nav>
        *@ 



        
        

        


        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
