<nav class="navbar bg-body-tertiary">

<div class="col" >
        <ul>
            <li class="nav-item">
                <a class="nav-link text-light" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        </ul>
</div>   


</nav>

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">SplitWiseWebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Grouplist">
                <span class="oi oi-plus" aria-hidden="true"></span> GroupShows
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/GroupAdd">
                <span class="oi oi-plus" aria-hidden="true"></span> Add New Group
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ExpenseList">
                <span class="oi oi-plus" aria-hidden="true"></span> Show Expenses
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/ExpenseAdd">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Expense
            </NavLink>
        </div>

    </nav>
</div>

@code {

    @using Microsoft.AspNetCore.Identity
    @using SplitWiseWebApp.Areas.Identity.Data
    @inject SignInManager<SplitWiseWebApplicationUser> SignInManager

    @inject UserManager<SplitWiseWebApplicationUser> UserManager


    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
