@page "/Register"

<PageTitle>Index</PageTitle>

<h3>Register</h3>

<div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
</div>
<div class="form-floating mb-3">
    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
</div>

<div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" placeholder="Name">
    <label for="floatingInput">Name</label>
</div>


@code {



}
